.form {
  width: 100%;
  margin-top: 24px;
}

.password {
  margin-top: 24px;
}

.submit {
  margin: 24px 0 16px;
}

.error {
  text-align: center;
  margin: 24px 0 16px;
}

;
.errorStr {
  color: red;
  font-size: 13px
}