
.contentsContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

footer {
  margin-top: auto;
}

.main{
  padding-top: 64px;
}

.shiftContent {
  padding-left: 192px;
}


.content {
  height: 100%
}