footer{
  position: relative;
  padding: 50px 0 50px;
  background: #F5F5F5;
  margin-top: 40px;
}

.wrapper{
  max-width: 1270px;
  padding: 0 35px;
  margin: 0 auto;
}

.sitemap{
  display: flex;
  margin-bottom: 40px;
}

ul{
  list-style: none;
}