.userHeader {
  padding-bottom: 12px;
  border-bottom: solid 1px #EAEAEA;
}

.userIcon{
  width: 48px;
  height: 48px;
  margin: auto;
  inline-size: min-content;
}

.userInfo{
  width: 100%;
  text-align: center;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 14px;

}

.name {
  margin-top: 10px;
}
