.pageContent {
  margin-top: 50px;
}

.setting {
  padding-top: 20px
}

.settingContainer {
  width: 844px;
  margin: auto auto 48px;
  background-color: #F5F5F5;
  padding: 72px;

  h1 {
    margin: 0;
    padding: 0 0 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
  }
}
