.default {
  color: #222;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.media {
  margin-right: 10px;
  color: #C89C5E;
  font-weight: bold;
  font-size: 12px;
}

.time {
  color: #222;
  font-size: 12px;
}

.caption {
  color: #C89C5E;
  font-weight: bold;
  font-size: 12px;
}